<div class="card shadow-effect">
  <img src="https://render.fineartamerica.com/images/images-profile-flow/400/images/artworkimages/mediumlarge/1/twilight-serenity-ii-doug-kreuger.jpg" alt="post-image" class="card-img-top">

  <div class="card-body">
    <small class="bg-light text-danger text-center"> Design </small>
    <small class="bg-light text-success text-center ml-3">  Featured  </small>
    <small class="bg-light text-info text-center ml-3">  Views - 100,256  </small>

   <h5 class="mt-1">HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h5>
   <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, quae. Mollitia voluptas vitae officiis? Neque, quae! Modi quia sed a dolores ex suscipit, ad dolorem accusantium facere quae cum quam!</P>

   <small class="bg-light text-warning text-center ml-3">LAST UPDATED - FEB 20, 2024</small>
  </div>

</div>
